@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* Global variables */
:root {
  --primary: #f55;
  --primary-hover: #e43232;
  --dark-primary: #000;
  --dark-secondary: #1e1b1b;
  --text-color: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Intro Section */
section.hero-section {
  background-color: var(--dark-primary);
  color: #fff;
  display: flex;
  align-items: center;
  height: 600px;
  margin-top: 0;
  padding: 100px 120px 50px 200px;
}

.hero-section-title {
  font-size: 48px;
}

.hero-section-title span {
  color: var(--primary);
}

.hero-section-desc {
  color: var(--text-color);
}

.hero-img img {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 40px;
  border-radius: 200px;
}

.social-icons {
  margin: 18px 0;
}

ul.social-icons {
  list-style: none;
  display: flex;
}

.social-icons li {
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  padding: 8px 12px;
}

.social-icons li:hover {
  background-color: var(--primary);
  transition: all 0.3s ease 0s;
}

.social-icons li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.hero-buttons button {
  margin-right: 10px;
}

.hero-buttons button > a {
  text-decoration: none;
  color: #fff;
}

/* buttons */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--dark-primary);
  font-weight: 600;
}

.btn.btn-primary:hover {
  background-color: var(--primary-hover);
  transition: all 0.3s ease 0s;
}

.btn-dark-outlined {
  background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 5px;
  font-weight: 600;
}

.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  transition: all 0.3s ease 0s;
}
