@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

/* Global rules */
:root {
  --primary: #f55;
  --primary-hover: #e43232;
  --dark-primary: #000;
  --dark-secondary: #1e1b1b;
  --text-color: #c4c4c4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(#353b48, #4432e4c0, #252525);
}

::-webkit-scrollbar-thumb {
  background-color: #f00;
  border-radius: 10px;
}

/* Intro Section */
section.hero-section {
  background: linear-gradient(180deg, #7c041e, transparent) #f00;
  background-color: #1e1b1b;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 640px;
  margin-top: 0;
  padding-top: 5%;
  transition: 0.5s;
}

.hero-section:hover {
  background-color: #000;
}

.hero-section-intro-container {
  width: 50%;
  transition: 0.3s;
}

.hero-section-title {
  font-size: 48px;
}

.hero-section-title span {
  color: var(--primary);
}

.hero-section-desc {
  color: var(--text-color);
  text-align: justify;
}

.hero-img img {
  display: flex;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 1px;
  border-bottom: 2px;
  border: none;
  border-radius: 200px;
}

.hero-img:hover {
  box-shadow: 3px 21px 20px #613026;
  transition: all 0.5s ease 0s;
  transform: translateY(2px);
  border-radius: 200px;
}

.social-icons {
  gap: 12px;
  display: flex;
  justify-content: left;
  align-items: center;
}

ul.social-icons {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  padding-top: 10px;
  padding-bottom: 13px;
}

.social-icons li {
  border-radius: 50%;
  border: 1px solid var(--primary);
  padding: 9px 15px;
}

.social-icons li:hover {
  background-color: var(--primary);
  transition: all 0.3s ease 0s;
}

.social-icons li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.hero-buttons button {
  margin-right: 10px;
}

.hero-buttons button > a {
  text-decoration: none;
  color: #fff;
  transition: 1s;
}

.button-hire-me {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* buttons */
.btn {
  padding: 10px 20px;
  border-radius: 2px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--dark-primary);
  font-weight: 600;
}

.btn.btn-primary:hover {
  background-color: var(--primary-hover);
  transition: all 0.3s ease 0s;
}

.btn-dark-outlined {
  min-width: 5px;
  background-color: var(--dark-primary);
  border: 1px solid var(--primary);
  color: var(--primary);
  border-radius: 5px;
  font-weight: 600;
}

.btn-dark-outlined:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  transition: all 0.3s ease 0s;
}

/* About Section */
section.about-section {
  background-color: var(--dark-secondary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 60px;
}

.about-img img {
  width: 250px;
  height: 250px;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid var(--primary);
  box-shadow: 3px 5px 30px #613026;
  object-fit: cover;
}

.about-content {
  /* margin-left: 100px; */
  max-width: 50%;
  text-align: justify;
}

.about-content h2 {
  font-size: 33px;
}

.about-content h2::after {
  content: "👨‍💻";
}

/* to skills section */

.progress-bar span {
  height: 10px;
  float: left;
  background: linear-gradient(
    135deg,
    rgb(250 113 283) 0%,
    rgb(255 142 134) 60%
  );
  border-radius: 20px;
  -webkit-background: linear-gradient(
    135deg,
    rgb(250 113 283) 0%,
    rgb(255 142 134) 60%
  );
}

/* to skills section */

.about-content h2 > span {
  color: var(--primary);
}

.about-content p {
  color: var(--text-color);
  font-size: 15px;
}

.about-content button {
  margin-top: 30px;
  font-size: 15px;
}

.about-content button > a {
  text-decoration: none;
  color: var(--dark-primary);
}

/* Skills Section */
.new-block {
  display: block;
  margin-left: 100px;
}

section.skills-design {
  background: linear-gradient(180deg, #7c041e, transparent) #f00;
  background-color: #1b1b1b;
  color: #fff;
  display: block;
  align-items: center;
  height: 290px;
  margin-bottom: 0;
  padding-top: 10px;
  transition: all 420ms ease-in;
}

section.skills-design:hover {
  background-color: #e43232;
}

.wrapper {
  max-width: 900px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px 20px;
  align-items: center;
}

.main-title {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  line-height: normal;
  margin: 0;
  padding-top: 0;
  font-size: 40px;
}

.center {
  text-align: center;
}

.padding {
  padding: 0;
}

.column {
  flex: 50%;
}

.padding-bottom {
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
  transition: 0.8s;
}

.skills {
  list-style: none;
  text-transform: uppercase;
}

.no-bullet-list {
  list-style-type: none;
}

.no-padding-list-item {
  padding-left: 0;
}

.progress-bar {
  background-color: #353b48;
  display: block;
  height: 10px;
  border-radius: 20px;
}

.html {
  width: 30%;
  animation: html 3s;
}

.css {
  width: 30%;
  animation: css 3s;
}

.javascript {
  width: 1%;
  animation: javascript 3s;
}

.php {
  width: 1%;
  animation: php 3s;
}

.comm-adapt {
  width: 80%;
  animation: comm-adapt 3s;
}

.team-player {
  width: 85%;
  animation: team-player 3s;
}

.problem-solving {
  width: 75%;
  animation: problem-solving 3s;
}

.open-minded {
  width: 80%;
  animation: open-minded 3s;
}

/* Projects Section */
section.projects-section {
  background-color: var(--dark-secondary);
  color: #fff;
  padding: 20px 20px 1px;
  transition: 0.8s;
}

.projects-section h2 {
  font-size: 28px;
  text-align: center;
}

.projects-section h2 > span {
  color: var(--primary);
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects-card-box {
  max-width: 31%;
  display: grid;
  align-content: space-between;
  margin: 35px 10px;
  padding: 33px;
  background-color: var(--dark-primary);
  border-radius: 5px;
  transition: all 0.5s ease 0s;
}

.projects-card-box:hover {
  box-shadow: 3px 5px 20px #613026;
  transition: all 0.5s ease 0s;
  transform: translateY(-2px);
}

.projects-card-box-icons > i {
  font-size: 30px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  padding: 20px;
}

.projects-card-box:hover .projects-card-box-icons > i {
  color: var(--primary);
  background-color: var(--dark-primary);
  transition: all 0.5s ease 0s;
}

.projects-card-box-desc h4 {
  font-size: 18px;
  margin: 18px 1px 10px 0;
}

.projects-card-box-desc p {
  font-size: 14px;
  text-align: justify;
  color: var(--text-color);
  margin-bottom: 14px;
}

.all-about-trees {
  color: #f55;
}

.projects-card-box-buttons {
  /* min-width: 5px; */
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .projects-card-box-buttons button {
  background-color: var(--dark-secondary);
} */

/* .projects-card-box-buttons button > a {
  text-decoration: none;
  font-size: 13px;
  color: #fff;
} */

/* Contact Section */
section.contact-section {
  background: linear-gradient(0deg, #7c041e, transparent) #f00;
  background-color: #1b1b1b;
  color: #fff;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 20px;
  transition: all 300ms ease-in;
}

@keyframes contact-section-animation {
  0% {
    background-color: #1e1b1b;
  }

  50% {
    background-color: #ff00807c;
  }

  100% {
    background-color: #1e1b1b;
  }
}

section.contact-section:hover {
  animation: contact-section-animation 5s ease infinite;
}

.contact-me-hover {
  transition: 2s;
}

.contact-me-hover:hover {
  color: #fff;
}

.contact-section h2 {
  font-size: 28px;
  margin: 18px 0;
}

.contact-section h2 > span {
  color: var(--primary);
}

.contact-section form div > input,
textarea {
  background-color: var(--text-color);
  width: 300px;
  padding: 5px 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  font-family: Poppins, sans-serif;
}

.contact-section form div > input:focus,
textarea:focus {
  border: 1px solid var(--primary);
}

/* Footer */
footer {
  background-color: var(--dark-secondary);
  color: gray;
  text-align: center;
  padding: 15px 0;
  font-size: 13px;
}

.footer-a {
  text-decoration: none;
  color: var(--primary);
}

/* MEDIA resolutions */

@media only screen and (width < 950px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (width < 828px) {
  section.hero-section {
    height: 486px;
  }

  .hero-section-intro-container {
    width: 90%;
    transition: 0.2s;
  }

  .hero-img {
    display: none;
  }

  .about-content {
    max-width: 90%;
    text-align: justify;
  }

  .about-section {
    max-width: 100%;
    flex-direction: column;
  }

  .projects-section {
    display: block;
  }

  .projects-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .projects-card-box {
    min-width: 100px;
    max-width: 100%;
  }
}

@media only screen and (width < 768px) {
  section.hero-section {
    height: 486px;
  }

  .hero-section-intro-container {
    width: 90%;
    transition: 0.2s;
  }

  .hero-img {
    display: none;
  }

  .about-content {
    max-width: 90%;
    text-align: justify;
  }

  .about-section {
    max-width: 100%;
    flex-direction: column;
  }

  .projects-section {
    display: block;
  }

  .projects-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .projects-card-box {
    min-width: 100px;
    max-width: 100%;
  }
}

@media only screen and (width < 556px) {
  .padding-bottom {
    font-size: 13px;
  }
}

/* Mobile L */
@media only screen and (width < 425px) {
  .hero-section {
    flex-direction: column;
  }

  .projects-cards {
    display: flex;
    flex-wrap: wrap;
  }

  .projects-card-box {
    min-width: 100px;
    max-width: 100%;
  }

  /* Mobile M */
  @media only screen and (width < 375px) {
    .hero-section {
      flex-direction: column;
    }

    .button-hire-me {
      display: none;
    }

    .social-icons li {
      height: 17px;
      width: 10px;
      justify-content: center;
      box-sizing: content-box;
    }

    .social-icons li a {
      display: flex;
      margin-left: -2.7px;
    }

    .about-img img {
      width: 175px;
      height: 175px;
    }
  }
}
