@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary: #f55;
  --primary-hover: #e43232;
  --dark-secondary: #1e1b1b;
  --text-color: #c4c4c4;
}

.header {
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 20px;
  left: 120px;
  right: 120px;
  z-index: 100;
  background: linear-gradient(180deg, #7c041e, transparent) #f00;
  background-color: #1b1b1b;
  border-radius: 90px;
  border-left-width: 1px;
  transition: 0.3s;
  animation: header-animation 5s ease infinite;
}

.header:hover {
  background-color: #008dced5;
  animation: header-animation-hover 4s ease infinite;
}

.left-section {
  display: flex;
  align-items: center;
}

.main-logo {
  filter: sepia(1);
  height: 32px; /* margin-left: 100px; */
}

.nav-bar-fonts {
  color: rgb(255 255 255);
}

.navbar-logos {
  box-sizing: border-box;
  width: 55px;
  fill: aliceblue;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
}

.middle-section {
  width: 350px; /* margin-right: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: aliceblue;
}

.navbar-logos:hover {
  background-color: #e43232;
  border: none;
  border-radius: 19px;
}

/* KEYFRAMES ANIMATION */

@keyframes header-animation {
  0% {
    filter: sepia(0);
  }

  25% {
    filter: sepia(1);
  }

  50% {
    filter: sepia(0);
  }

  75% {
    filter: sepia(1);
  }

  100% {
    filter: sepia(0);
  }
}

@keyframes header-animation-hover {
  filter: sepia(0);
}

/* MEDIA */

@media only screen and (width < 830px) {
  .header {
    transform: scale(75%);
  }

  .left-section {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (width < 563px) {
  #section-nav {
    display: none;
    visibility: hidden;
  }
}
